---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { Code } from 'astro/components';

export async function getStaticPaths() {
    const components = await getCollection("components");
    const paths = components.map((component: any) => {
        return {
            params: {
                slug: component.slug
            },
            props: {
                component,
            }
        }
    });

    return paths;
}

type Props = {
    component: CollectionEntry<"components">
}

const { component } = Astro.props;
---

<DefaultLayout>
    <div class="max-w-screen-2xl mx-auto p-6">

        <!-- Back link -->
        <a href="/explore" class="inline-flex items-center text-md font-medium text-gray-500 hover:text-gray-700 select-none">
            <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
            Back
        </a>

        <!-- Tabbar -->
        <div class="my-10 select-none">
            <nav class="flex gap-2" aria-label="Tabs">
                <span
                    class="tab-link w-[80px] text-center bg-gray-100 shrink-0 rounded p-2 text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 cursor-pointer"
                    data-tab="View"
                >
                    View
                </span>
                <span
                    class="tab-link w-[80px] text-center shrink-0 rounded p-2 text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 cursor-pointer"
                    data-tab="HTML"
                >
                    HTML
                </span>
            </nav>

            <!-- Content based on active tab -->
            <div class="mt-6">
                <div id="tab-content-view" class="tab-content">
                    <!-- View content here -->
                    <div class="flex flex-row gap-2 justify-end w-full mb-4">
                        <button class="w-[120px] h-[40px] bg-gray-100 hover:bg-gray-50 rounded text-gray-500">Mobile</button>
                        <button class="w-[120px] h-[40px] bg-gray-100 hover:bg-gray-50 rounded text-gray-500">Small</button>
                        <button class="w-[120px] h-[40px] bg-gray-100 hover:bg-gray-50 rounded text-gray-500">Medium</button>
                        <button class="w-[120px] h-[40px] bg-gray-100 hover:bg-gray-50 rounded text-gray-500">Large</button>
                    </div>
                    <div set:html={component.body} class="bg-[url('/grid.svg')] bg-repeat min-h-[450px] flex justify-center items-center rounded border border-gray-300 p-4 shadow-md">
                    </div>
                </div>
                <div id="tab-content-html" class="tab-content hidden">
                    <!-- HTML content here -->
                    <div class="flex flex-row gap-2 justify-end w-full mb-4">
                        <button class="w-[120px] h-[40px] bg-gray-100 hover:bg-gray-300 rounded text-gray-500">Copy HTML</button>
                    </div>
                    <Code class="rounded p-4 max-h-[450px] select-text" code={component.body.trim()} lang="html" theme="dark-plus" />
                </div>
            </div>
        </div>
    </div>
</DefaultLayout>

<script define:vars={{}}>
    const tabLinks = document.querySelectorAll(".tab-link");
    const tabContentView = document.getElementById("tab-content-view");
    const tabContentHtml = document.getElementById("tab-content-html");

    tabLinks.forEach(link => {
        link.addEventListener("click", (event) => {
            event.preventDefault();
            const selectedTab = event.target?.getAttribute("data-tab");

            if (selectedTab === "View") {
                tabContentView?.classList.remove("hidden");
                tabContentHtml?.classList.add("hidden");
                tabLinks[0].classList.add("bg-gray-100", "text-gray-700");
                tabLinks[1].classList.remove("bg-gray-100", "text-gray-700");
            } else if (selectedTab === "HTML") {
                tabContentView?.classList.add("hidden");
                tabContentHtml?.classList.remove("hidden");
                tabLinks[0].classList.remove("bg-gray-100", "text-gray-700");
                tabLinks[1].classList.add("bg-gray-100", "text-gray-700");
            }
        });
    });
</script>