---
import { getCollection } from "astro:content";

const components = await getCollection("components");
---

<header class="bg-gray-50">
  <div class="mx-auto max-w-screen-2xl px-6 py-8 sm:py-12">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <a href="/"
          class="flex flex-row gap-2 items-center">
          <img width="24px" height="24px" src="/favicon.png" alt="favicon">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Nono-UI</h1>
        </a>
        <p class="mt-1.5 text-sm text-gray-500">Free Open Source Tailwind CSS Components</p>
      </div>

      <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center relative">
        <div class="relative">
          <label for="Search" class="sr-only"> Search </label>
          
          <input
            type="text"
            id="Search"
            placeholder="Search..."
            class="w-full rounded border-gray-200 py-2.5 shadow-sm sm:text-sm p-4 focus:shadow-md outline-none"
          />
          
          <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
            <button type="button" class="text-gray-600 hover:text-gray-700" tabindex="-1">
              <span class="sr-only">Search</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-4 w-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
              </svg>
            </button>
          </span>

          <!-- Search Results Dropdown -->
          <ul id="search-results" class="absolute mt-2 w-full bg-white border border-gray-200 rounded shadow-md hidden">
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<script is:inline define:vars={{components}}>
  const searchInput = document.getElementById("Search");
  const searchResults = document.getElementById("search-results");

  searchInput.addEventListener("input", (event) => {
    const searchTerm = event.target.value.toLowerCase();
    searchResults.innerHTML = "";

    if (searchTerm) {
      const filteredComponents = components.filter(component =>
        component.data.name.toLowerCase().includes(searchTerm)
      );

      filteredComponents.forEach(component => {
            const li = document.createElement("li");
            li.classList.add("px-4", "py-2", "text-gray-700", "hover:bg-gray-100", "cursor-pointer");
            
            const a = document.createElement("a");
            a.href = `/components/${component.slug}`;
            a.textContent = component.data.name;
            a.classList.add("block", "w-full", "h-full", "outline-none");

            li.appendChild(a);
            searchResults.appendChild(li);

            li.addEventListener("click", () => {
              searchInput.value = component.data.name;
              searchResults.innerHTML = "";
              searchResults.classList.add("hidden");
            });
          });

      if (filteredComponents.length > 0) {
        searchResults.classList.remove("hidden");
      } else {
        searchResults.classList.add("hidden");
      }
    } else {
      searchResults.classList.add("hidden");
    }
  });

  searchInput.addEventListener("blur", (event) => {
    setTimeout(() => {
      searchResults.innerHTML = "";
      searchResults.classList.add("hidden");
      searchInput.value = "";
    }, 160);
  });
</script>


<!-- ---

---

<header class="bg-gray-50">
    <div class="mx-auto max-w-screen-2xl px-6 py-8 sm:py-12 ">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center sm:text-left">
          <div class="flex flex-row gap-2 items-center">
            <img width="24px" height="24px" src="/favicon.png" alt="favicon">
            <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Nono-UI</h1>
          </div>
  
          <p class="mt-1.5 text-sm text-gray-500">Free Open Source Tailwind CSS Components</p>
        </div>
  
        <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
          <div class="relative">
            <label for="Search" class="sr-only"> Search </label>
            
            <input
              type="text"
              id="Search"
              placeholder="Search..."
              class="w-full rounded border-gray-200 py-2.5 shadow-sm sm:text-sm p-4 focus:shadow-md focus:outline-none"
            />
            
            <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
              <button type="button" class="text-gray-600 hover:text-gray-700">
                <span class="sr-only">Search</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                  />
                </svg>
              </button>
            </span>
          
          </div>
          
        </div>
      </div>
    </div>
  </header> -->